@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
  --dark-pink: #f3edf0;
  --light-pink: #f2ebe5;
  --almost-white: #ffffff;
  --grey: #887c7c;
  --dark-grey: #605151;
  --light-grey: #f7f7f7;
}

body {
  background-color: var(--almost-white);
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding-top: 90px;
  color: var(--grey);
}

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--dark-pink);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.NavBar .logo img {
  height: 60px;
}

.NavBar .nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.NavBar .nav-links a {
  text-decoration: none;
  color: var(--grey);
  font-size: 20px;
  font-weight: 500;
}

.cart-icon-small {
  width: 20px;
  height: auto;
  vertical-align: middle;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: var(--dark-grey);
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  .NavBar .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: var(--dark-pink);
    padding: 20px 0;
    text-align: center;
  }
  .NavBar .nav-links.active {
    display: flex;
  }
  .menu-toggle {
    display: flex;
  }
  .product-grid {
    display: grid;
    gap: 15px;
    padding: 10px;
  }

  .product-card {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 15px 10px;
  }

  .product-card img {
    object-fit: cover;
  }

  .product-card:hover img {
    transform: scale(10.5);
    width: 100%;
    height: 100%;
  }

  .product-card button {
    position: absolute;
    transform: none;
    opacity: 1;
    visibility: visible;
    margin-top: 10px;
  }

  .filter-options {
    flex-direction: column;
    gap: 10px;
  }

  .filter-button {
    width: 50%;
  }
}

.product-filters {
  padding: 20px;
  background-color: #d8cece;
  text-align: center;
}

.filter-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.filter-category,
.filter-price {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-grey);
}

.filter-button {
  padding: 12px 30px;
  background-color: var(--dark-grey);
  color: var(--light-pink);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.filter-button:hover {
  background-color: var(--grey);
  color: #fff;
}

a,
a:visited,
a:active {
  color: var(--grey); 
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.products {
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

 /* Product Image Change on Hover */
  .product-card:nth-child(1):hover img {
      content: url('./img/texture1.png');
      transform: scale(1.2); 
  }
  .product-card:nth-child(2):hover img {
      content: url('./img/texture2.png');
      transform: scale(1.2); 
  }
  .product-card:nth-child(3):hover img {
      content: url('./img/texture3.png');
      transform: scale(1.2); 
  }
  .product-card:nth-child(4):hover img {
      content: url('./img/texture4.png');
      transform: scale(1.2); 
  }
  .product-card:nth-child(5):hover img {
      content: url('./img/texture5.png');
      transform: scale(1.2); 
  }
  .product-card:nth-child(6):hover img {
      content: url('./img/texture6.png');
      transform: scale(1.2); 
  }

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: var(--light-grey);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.product-card img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card:hover img {
  transform: scale(1.1);
}

.product-card p {
  margin-top: 20px;
  font-size: 1rem;
  z-index: 1;
}

.product-card span {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

.product-card button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: var(--dark-grey);
  color: var(--light-pink);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.product-card:hover button {
  opacity: 1;
  visibility: visible;
}

 /* Basic Styling for the Contact Us Form */
 .contact-form {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  z-index: 1000; 
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.contact-form input, 
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background-color: var(--dark-pink);
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.contact-form button:hover {
  background-color: var(--grey);
}

.contact-form,
.contact-form h2,
.contact-form label,
.contact-form input,
.contact-form textarea {
  color: var(--grey);
}

/* Close Button */
.close-form {
  background-color: transparent;
  border: 1px solid var(--dark-pink);
  color: var(--dark-pink);
  padding: 8px 15px;
  margin-top: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.close-form:hover {
  background-color: var(--dark-pink);
  color: #fff;
}

/* Back to Top Button Styles */
.back-to-top {
  position: fixed;
  bottom: 80px; 
  right: 30px;
  background-color: var(--dark-pink);
  color: white;
  border: none;
  padding: 15px;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 999;
  transition: background-color 0.3s ease;
  width: 60px;
  height: 60px;
  line-height: 30px;
  font-family: sans-serif;
}

.back-to-top:hover {
  background-color: var(--grey); 
}

.back-to-top.show {
  display: block;
}


footer {
  background-color: var(--dark-pink);
  padding: 1rem;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #887c7c;
}
